body {
  background-color: #fff5dd;
  padding-bottom: 1rem;
}

.search_cover {
  margin-top: 1rem;
  width: 80%;
  margin-left: 10%;
  position: relative;
}

.serach_input {
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 2rem;
  border: 1rpx solid #fafafa;
  box-shadow: 0.2rem 0.3rem #ffcd54;
  padding-left: 1.5rem;
  padding-top:0.8rem;
  padding-bottom:0.8rem;
  color:#2d2d2d;
  font-weight: 500;
  font-size: 0.5rem;
}

.search_icon {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  left: 0.4rem;
  top: 0.4rem;
}

.catalog_cover {
  margin-top: 2rem;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2.2rem;
  width: 100%;
  border: 1rpx solid #ddd;
  box-shadow: 0.2rem 0.3rem #ffcd54;
  margin-bottom: 0.6rem;
  background-color: #fff;
  border-radius: 0.2rem;
}

.item-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cata_img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.3rem;
  margin-left: 0.2rem;
  box-shadow: 0.1rem 0.1rem #fff5dd;
}

.cata_title {
  font-size: 0.7rem;
  color: #2d2d2d;
  font-weight: 700;
  margin-left: 0.8rem;
}

.cata_num {
  font-size: 0.5rem;
  color: #fff;
  margin-left: 1rem;
  padding: 0.23rem 0.4rem;
  background-color: #ffc22d;
  border-radius: 1rem;
}

.cata_arr_img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.caltalog_list_cover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 90%;
  margin-left: 5%;
}

.list_item {
  width: 46%;
  padding: 0.5rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffcd54;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.3rem #413929;
  margin-bottom: 1rem;
  animation: fade-in; /*动画名称*/
  animation-duration: 1s; /*动画持续时间*/
  -webkit-animation: fade-in 1s; /*针对webkit内核*/
}

.list_search_item {
  width: 46%;
  padding: 0.5rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffcd54;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.3rem #413929;
  margin-bottom: 1.6rem;
  animation: fade-in; /*动画名称*/
  animation-duration: 1s; /*动画持续时间*/
  -webkit-animation: fade-in 1s; /*针对webkit内核*/
}

.item_img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  top: -1.2rem;
}

.item_search_title {
  font-size: 0.8rem;
  font-weight: 700;
  height: 1.2rem;
  line-height: 1.2rem;
  margin-top: 0.4rem;
}

.item_title {
  font-size: 0.8rem;
  font-weight: 700;
  height: 1.2rem;
  line-height: 1.2rem;
}

.item_tag {
  font-size: 0.5rem;
  color: #fff;
}

.item_divide {
  height: 0.1rem;
  width: 100%;
  background-color: #000;
  margin-top: 0.43rem;
  margin-bottom: 0.4rem;
}

.item_data {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
}

.data_cover {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data_img {
  width: 0.65rem;
  height: 0.65rem;
}

.data_num {
  font-size: 0.3rem;
  color: #000;
}

.no_data {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;
}

.no_data_tip {
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0.5rem auto;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  } /*初始状态 透明度为0*/
  40% {
    opacity: 0.4;
  } /*过渡状态 透明度为0*/
  60% {
    opacity: 06;
  } /*过渡状态 透明度为0*/
  90% {
    opacity: 0.9;
  } /*过渡状态 透明度为0*/
  100% {
    opacity: 1;
  } /*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  } /*初始状态 透明度为0*/
  40% {
    opacity: 0.4;
  } /*过渡状态 透明度为0*/
  60% {
    opacity: 0.6;
  } /*过渡状态 透明度为0*/
  90% {
    opacity: 0.9;
  } /*过渡状态 透明度为0*/
  100% {
    opacity: 1;
  } /*结束状态 透明度为1*/
}
